*{
    box-sizing: border-box;
}





h1{
    
    color: white;
    font-size: 70px;
    margin-top: 35px;
    
}

.form-register{
    width: 95%;
    max-width: 500px;
    margin: auto;
    background: white;
    border-radius: 7px;
    margin-top: 10vh;
}

.form__titulo{
    background: white;
    color: black;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid crimson;
    opacity: .7;
}

.contenedor-inputs{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input{
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid darkgray
}

.input-48{
    width: 48%; 
}

.input-100{
    width: 100%; 
}

.btn-enviar{
    background: crimson;
    color: #fff;
    margin: auto;
    padding: 10px 40px;
    cursor: pointer;
    font-size: 20px;
}

.btn-enviar:ative{
    transform: scale(1.05);
}

.form__link{
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 14px
}

.container-fluid{
    background: rgb(12, 12, 12) fixed no-repeat 50% 50%;
    background-size: cover;
    background-image: url(/images/3.jpg);
   
}

.navbar{
    margin: 3vh;
    margin-bottom: 8vh;
    
}
footer{
    margin: 5vh;
}
    