
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/registo.css">
    <link href="https://fonts.googleapis.com/css?family=Passion+One:700&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
      
            <div class="container">
                <div class="row" >
                    <div class="col 4"><img src="/images/logo-retro.jpg" alt="" class="rounded-circle" width="50%"> </div>
                    <div class="col-8"><h1 "id"="titulo"> RetroFutbolStore</h1></div>
                </div>
        
                <%- include("./partials/nuevomenu") %>
                
                <!-- Tab panes -->
                
                </div>
           
          
        
      

            
            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane container active" "id"="home">...</div>
              <div class="tab-pane container fade" "id"="menu1">...</div>
              <div class="tab-pane container fade" "id"="menu2">...</div>
              <div class="tab-pane container fade" "id"="menu2">...</div>
            </div>
    
           
            <form action="registrar.php" method="post" class="form-register">
            
                <h2 class="form__titulo">REGISTRATE</h2>
                
                <div class="contenedor-inputs">
                    
                    <input type="text" name="nombre"  placeholder="Nombre" class="input-48" required>
                    
                    <input type="text" name="apellido" placeholder="Apellido" class="input-48" required>
                    
                    <input type="email" name="correo" placeholder="Correo" class="input-100" required>
                    
                    <input type="text" name="usuario" placeholder="Usuario" class="input-48" required>
                    
                    <input type="password" name="clave" placeholder="Contraseña" class="input-48" required>
                    
                    <input type="text" name="telefono" placeholder="Telefono" class="input-100" required>
                    
                    <input type="submit" value="Registrar" class="btn-enviar">
                    
                    
                    <p class="form_link">¿Ya tienes una cuenta?<a href="#"> Ingresa Aqui</a></p>
                
            </form>
    
    
            
    
            
        </div>
      
        <footer>
            <div class="row">
                <div class="col-6 text-black-50"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quaerat omnis dicta alias, velit, sunt eaque nisi maiores architecto esse tempora saepe dolorum rem repudiandae magni voluptate "id" eum! Et.</div>
                <div class="col-6 text-black-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, fugiat veniam et architecto, ducimus nihil libero laborum repudiandae porro consequatur sed aliquam quas recusandae sequi aspernatur, quidem non. Dicta, fugit?</div>
                  <i class="fab fa-facebook"></i>
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                  <i class="fab fa-twitter"aria-hidden="true"></i>
            </div>
        </footer>
    </div>

  </div> 
  




<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>