<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../stylesheets/fonts.css' />
    <link rel='stylesheet' href='../stylesheets/footer.css' />

    <title>footer</title>
</head>
<body>
    <div class= "social-bar">
        <a href="https://www.facebook.com/" class="icon icon-facebook"  target="_blank"> facebook  &#xea91;</a>
        <a href="https://www.instagram.com/?hl=es-la" class="icon icon-instagram" target="_blank">instagram</a>
        <a href="https://twitter.com/login?lang=es" class="icon icon-twiter" target="_blank">twiter</a>
        <a href="https://web.whatsapp.com/" class="icon icon-whatsapp" target="_blank">whatsapp</a>

   
    </div>
</body>
</html>