<!DOCTYPE html>
<html>

    <div class="container-fluid">
        <div class="container">
            <div class="row" >
                <div class="col 4"><img src="/images/logo-retro.jpg" alt="" class="rounded-circle" width="50%"> </div>
                <div class="col-8"><h1 "id"="titulo"> RetroFutbolStore</h1></div>
                
            </div>
    
          <%- include("./partials/nuevomenu") %>
          
          <!-- Tab panes -->
          
          </div>
    </div>
   
    




    