<div class="container-fluid ">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand ">Retro<span class="badge badge-secondary ">Futbol</span>Store</a>
        <button class="navbar-toggler" data-target="#menu" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="menu">
            <ul class="navbar-nav mr-auto ">
            <li class="nav-item ">
                <a href="/" class="nav-link " >Home</a>
            </li>
            <li class="nav-item ">
                <a href="/producto" class="nav-link " >Productos</a>
            </li>
            <li class="nav-item active">
                <a  href="/registro" class="nav-link " >Registro</a>
            </li>
            <li class="nav-item active">
                <a  href="/carrito" class="nav-link " >Carrito de compras</a>
            </li>
          </ul>
          <form class="form-inline " action="/detalle" method='POST'>
              <input calss="form-control h-1" type="text" placeholder="Buscar Camiseta" name="search">
              <button type="submit" class="btn  ml-2" style="background-color: #9E9D96;">Buscar</button>
              
          </form>

        </div>

    </nav>
</div>